.Episodes .page-title {
  text-align: center;
}

.episode-cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.episode-cards-container .card {
  margin-bottom: 1rem;
  cursor: pointer;
  width: 18rem;
}

.episode-cards-container .card-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.episode-cards-container .guest-name {
  color: royalblue;
}

.modal-header {
  border-bottom: none !important;
}
