.Episodes .cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Episodes .card {
  margin-bottom: 1rem;
  cursor: pointer;
}

.Episodes .card-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.Episodes .guest-name {
  color: royalblue;
}

.modal-header {
  border-bottom: none !important;
}
