.profile-container {
  display: inline-block;
}

.profile-pic-container {
  float: left;
  padding: 1rem;
  max-width: 30rem;
}

.profile-pic-container img {
  width: 100%;
  border-radius: 0.5rem;
}

.profile-description {
  padding: 1rem;
}
