.About .profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.About .pfp-container {
  float: left;
  padding: 1rem;
  max-width: 30rem;
}

.About .pfp-container img {
  width: 100%;
  border-radius: 0.5rem;
}

.About .bio {
  max-width: 38rem;
  padding: 1rem;
}
