.sidebar {
  width: 17.5rem;
  height: 100vh;
  right: -100%;
  padding-left: 1rem;
  position: fixed;
  background-color: aliceblue;
  transition: 1.25s ease;
  z-index: 2;
}

.sidebar.active {
  right: 0;
  transition: 0.45s ease;
}

.sidebar-icon {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.45s ease;
}

.sidebar-open-icon {
  position: fixed;
  z-index: 1;
}

.sidebar-icon:hover {
  color: #f2849e;
}

.sidebar-title {
  padding-top: 1rem;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar-item {
  list-style: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
}

.sidebar-item > a {
  color: black;
  display: block;
  text-decoration: none !important;
  transition: 0.45s ease;
}

.sidebar-item > a:hover {
  color: #f2849e;
}
